.md-body a {
  color: #0366d6 !important;
  background-color: transparent;
}

.md-body h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.3rem;
  line-height: 23px;
  border-bottom: 1px solid #dbdbdb;
  margin: 30px 0 13px 0;
  padding-bottom: 7px;
  color: #333;
}

.md-body ul {
  display: block;
  list-style-type: disc;
  padding-left: 17px;
  margin: 6px 0 10px;
  color: #555;
}

.md-body ol {
  display: block;
  padding-left: 17px;
  margin: 6px 0 10px;
  color: #555;
}

.md-body *:not(table) {
  line-height: 160%;
  box-sizing: content-box;
}
.md-body p {
  margin: 10px 0;
}

.md-body img {
  margin: 4px 0 10px;
  box-sizing: border-box;
  vertical-align: top;
  max-width: 100%;
}

.md-body img:hover {
  cursor: pointer;
}

.md-body blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  margin: 15px 0;
  font-size: 0.875rem;
  font-weight: 600;
  color: #718096;
}

.md-body blockquote > :last-child {
  margin-bottom: 0;
}

.md-body blockquote > :first-child {
  margin-top: 0;
}

.md-body ul li,
.md-body ol li {
  position: relative;
}

.md-body code[data-backticks] {
  background-color: hsla(0,0%,92.5%,.5);
  color: #37474f;
  direction: ltr;
  margin: 0 .29412em;
  padding: .07353em 0;
  border-radius: .1rem;
  box-shadow: 0.29412em 0 0 hsla(0,0%,92.5%,.5), -0.29412em 0 0 hsla(0,0%,92.5%,.5);
  word-break: break-word;
}

.md-body table {
  margin: 2px 0 14px;
  color: #555;
  width: auto;
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.md-body table th {
  border: 1px solid #72777b;
  border-top: 0;
  background-color: #7b8184;
  font-weight: 300;
  color: #fff;
  padding-top: 6px;
  text-align: center;
}

.md-body table th,
.md-body table td {
  height: 32px;
  padding: 5px 14px 5px 12px;
}

.md-body table td {
  border: 1px solid #eaeaea;
}
